<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MustHaveJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <!-- 서블릿과 요청명 매핑 -->
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/h</url-pattern>
  </servlet-mapping>
 <!-- DB 접속 정보 등록 매개변수로 등록 194p-->
  <context-param>
  	<param-name>OracleDriver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleUrl</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1522/xe</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleId</param-name>
  	<param-value>musthave</param-value>
  </context-param>
  <context-param>
  	<param-name>OraclePwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
</web-app>












